[Unit]
Description=BearPrint Go server
After=network.target

[Service]
Type=simple
User=bearprint
Group=bearprint
ExecStart=/var/opt/bearprint/bearprint-api
Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
