[Unit]
Description=BearPrint Go server
After=network.target

[Service]
Type=simple
User=ian
WorkingDirectory=/opt/bearprint
ExecStart=/opt/bearprint/bearprint-api
Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
