[Unit]
Description=BearPrint server
After=network.target

[Service]
Type=simple
User=ian
WorkingDirectory=/opt/bearprint-server
Environment=PYTHONPATH=/opt/bearprint-server/src
ExecStart=/usr/bin/gunicorn -c /opt/bearprint-server/gunicorn.conf.py bearprint_server.app:app
Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
